.logo_center { width: 320px; }
::selection { background: #f4726d; color: #444; text-shadow: none; }
body { padding-top: 70px; padding-bottom: 70px; }
footer { background: #252525; border-top: 1px solid #222; width: 100%; color: #555; position: absolute; padding-top: 10px; bottom: 0; }
.navbar-brand { padding: 7px 15px; }
.img-profile { margin: 0 auto; width: 5em; }
th {
	text-align: center !important;
}
#info_search {
	margin: 25px 0;
}
#info_search > small{
	display: block;
}

.select-group-left{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;
}
.select-group-rigth{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

/* Desktops and laptops Small ----------- */
@media only screen and (max-width : 320px) {
	.logo_center { width: 70%; }
}